.signed-out
  .form-signed-out
    %h2.form-signed-out-heading
      注册
    -#= devise_error_messages!
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.label 'User Name', :class => 'sr-only'
      = f.text_field :username, :class => 'form-control top-line', :placeholder => '用户名'
      = f.label 'Email Address', :class => 'sr-only'
      = f.email_field :email, :class => 'form-control middle-line', :placeholder => '邮箱'
      = f.label 'Password', :class => 'sr-only'
      = f.password_field :password,  :class => 'form-control middle-line', :placeholder => '密码'
      = f.label 'Password Confirmation', :class => 'sr-only'
      = f.password_field :password_confirmation, :class => 'form-control bottom-line', :placeholder => '确认密码'
      %button{:type => "submit", :value => "Reset", :class => 'btn btn-lg btn-primary btn-block btn-low'}
        注册
      %p.notification
        已预测用户? #{link_to "登陆", new_session_path(resource_name)}.