.signed-out
  .form-signed-out
    %h2.form-signed-out-heading
      忘记密码？
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      -#= devise_error_messages!
      = f.label 'Email Address', :class => 'sr-only'
      = f.email_field :email, :class => 'form-control', :placeholder => '邮箱'
      %button{:type => "submit", :value => "Reset", :class => 'btn btn-lg btn-primary btn-block btn-low'}
        发送邮件
      已注册用户? #{link_to "重置密码", new_password_path(resource_name)}.
      首次访问? #{link_to "现在注册", new_registration_path(resource_name)}.