.signed-out
  .form-signed-out
    %h2.form-signed-out-heading
      请您登陆
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      -#= devise_error_messages!
      = f.label 'Email Address', :class => 'sr-only'
      = f.email_field :email, :class => 'form-control', :placeholder => '邮箱'
      = f.label 'Password', :class => 'sr-only'
      = f.password_field :password,  :class => 'form-control', :placeholder => '密码'
      -#.checkbox
      -#  %label
      -#    %input{:type => 'checkbox'}
      -#    Remember Me
      %button{:type => "submit", :value => "Login", :class => 'btn btn-lg btn-primary btn-block'}
        登陆
      %p.notification
        忘记密码? #{link_to "重置密码", new_password_path(resource_name)}.
        首次访问? #{link_to "现在注册", new_registration_path(resource_name)}.