<!DOCTYPE html>
<html>
<head>
  <title>咖萌亲子游-聚焦亲子活动的社交平台</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render("shared/navigator") %>
    <%= render("shared/header") %>

    <%= yield :before_content %>
    <div class="default-content">
      <%= bootstrap_flash if flash.any? %>

        <div class="container" id="main-content">
          <%= yield %>
        </div>

    </div>
    <%= render("shared/about") %>
    <%= render("shared/footer") %>
    <!-- /.container -->
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
