<!DOCTYPE html>
<html>
<head>
  <title>AppAdmin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript">
    $(document).ready(function() {
        if ($('textarea.ckeditor').length > 0) {
            var data = $('textarea.ckeditor');
            $.each(data, function(i) {
                CKEDITOR.replace(data[i].id);
            });
        }
    });
</script>
</body>
</html>
